<%
const param = {
  title: 'TOP',
  path: './'
}
%>
<%- include(`${param.path}@include/_header`, {param: param}) %>
<body>
  <main class="main" id="main">

    <div class="rotate" id="rotate">
      <% for (let i = 1; i <= 24; i++) { %>
      <% const index = String(i).padStart(2,'0') %>
      <figure class="rotate--image" style="background-image: url(/assets/img/rotate/car-<%- index %>.png)"></figure>
      <% } %>
    </div>

  </main>
</body>
<%- include(`${param.path}@include/_footer`, {param: param}) %>
